.container
  %h1 Create new List
  =form_for [current_user,@list] do |f|

    .form-group
      =f.label :name
      =f.text_field :name, class: 'form-control'
    .form-group 
      =f.label :description
      =f.text_area :description, class: 'form-control' 
    
    .form-group
      =f.submit 'Create', class: 'btn btn-primary'
  = link_to 'Back', user_lists_path, class: 'btn btn-sm btn-secondary'